.chat_holder {
  border: 1px black;
  background-color: darkslategray;
  height: 500px;
  overflow: auto;
}
.removed_holder {
  border: 1px black;
  background-color: darkred;
  height: 100px;
  overflow: auto;
}

.message {
  color: white;
}
